
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>

    

    .slide {
      max-width: 7.5rem;
      margin-right:300px;
      margin-left:-300px;
      margin-top: -150px;
      margin-bottom: -50px;
      
      
    }
 
  
    #b0,#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8{
      width: 50px;
      height: 50px;
    }
    
 
    details > summary {
      
      width: 200px;
      background-color: #eeeeee;
      border: none;
      box-shadow: 1px 1px 2px #bbbbbb;
      cursor: pointer;
    }
    
    details > bdi {
      background-color: #eeeeee;
      padding: 4px;
      margin: 0;
      box-shadow: 1px 1px 2px #bbbbbb;
    }
 
  </style>
 </head>
<body>
  

               {%extends 'blog/home.html'%}
               {% block content%}
              
               {% csrf_token %}



<table style="margin-top: 200px; margin-left: 100px;">
  
  <tr >
    <td>

      <form  action="{% url 'home' %}" id="systemform">
        <div class="card" id="butn" style="margin-left: -630px;">
          <button type="submit" class="btn btn-default" style="width:220px; height:50px;font-size: 30px;background-color:rgb(23, 71, 83); color:burlywood; border:none">
            <a href="{% url 'home' %}"></a>
            <i class="fa fa-chevron-left" aria-hidden="true">    </i>
            Play Again
            </button>
            </div>
      </form>
    </td>
    <td  >
                    <div class="slide">                
       
                          <div class="card-section">                       
                          <div class="card-list"> 
                             <div class="card" style="max-width:170px; max-height:150px;">   
                                <div id="puzzle">      
                                    <input id="b0" type="button" class="btn btn-default"  value={{node0}}  maxlength="1" name="b0"/> <input id="b1" type="button" class="btn btn-default" value={{node1}}   maxlength="1" name="b1"/> <input id="b2" type="button" class="btn btn-default" value={{node2}}   maxlength="1" name="b2"/><br />
                                    <input id="b3" type="button" class="btn btn-default"  value={{node3}}   maxlength="1" name="b3"/> <input id="b4" type="button" class="btn btn-default" value={{node4}}   maxlength="1" name="b4"/> <input id="b5" type="button" class="btn btn-default" value={{node5}}   maxlength="1" name="b5"/><br />
                                    <input id="b6" type="button" class="btn btn-default"  value={{node6}}  maxlength="1" name="b6"/> <input id="b7" type="button" class="btn btn-default" value={{node7}}   maxlength="1" name="b7"/> <input id="b8" type="button" class="btn btn-default" value={{node8}}   maxlength="1" name="b8"/><br />
                                </div>
                              </div>


                            <div class="card" style="max-width:170px; max-height:150px;">   
                              <div id="puzzle">      
                                  <input id="b0" type="button" class="btn btn-default"  value={{node00}}  maxlength="1" name="b00"/> <input id="b1" type="button" class="btn btn-default" value={{node11}}   maxlength="1" name="b11"/> <input id="b2" type="button" class="btn btn-default" value={{node22}}   maxlength="1" name="b22"/><br />
                                  <input id="b3" type="button" class="btn btn-default"  value={{node33}}  maxlength="1" name="b33"/> <input id="b4" type="button" class="btn btn-default" value={{node44}}   maxlength="1" name="b44"/> <input id="b5" type="button" class="btn btn-default" value={{node55}}  maxlength="1" name="b55"/><br />
                                  <input id="b6" type="button" class="btn btn-default"  value={{node66}}  maxlength="1" name="b66"/> <input id="b7" type="button" class="btn btn-default" value={{node77}}   maxlength="1" name="b77"/> <input id="b8" type="button" class="btn btn-default" value={{node88}}   maxlength="1" name="b88"/><br />
                              </div>
                            </div>


    
                              <div class="card" style="max-width:170px; max-height:150px;">   
                                <div id="puzzle">      
                                    <input id="b0" type="button" class="btn btn-default"  value="Steps  " style="width: 105px;font-size: 20px; color:rgb(176, 133, 25);" /> <input id="b1" type="button" class="btn btn-default"  value=" {{ Steps }} " style="color:rgb(50, 47, 47); font-size: 16px;"/>  <br />
                                    <input id="b3" type="button" class="btn btn-default"  value="visit  " style="width: 105px; font-size: 20px; color:rgb(176, 133, 25);"/> <input id="b4" type="button" class="btn btn-default"   value="{{ visit }} " style="color:rgb(50, 47, 47); font-size: 16px;"/>  <br />
                                    <input id="b6" type="button" class="btn btn-default"  value="generated : " style="width: 105px; font-size: 20px; color:rgb(176, 133, 25);" /> <input id="b7" type="button" class="btn btn-default"  value="{{ generated }}" style="color:rgb(50, 47, 47); font-size: 16px;"/>  <br />
                                </div>
                             
  

 

                              </div>
                          
                          </div>
                          </div>
                     </div>
    </td> 
   
     <td class="card btn-default"   style="font-size: 20px; height: 90%;  width: 80%; text-align: center;"> 
      <details>
        <summary>Show Steps Solve</summary>
        <bdi class="btn btn-default"  style="  width: 80%; font-size: 24px;">
         
           {% for num in arr0 %}   
           
             {{num}}  
             
             {% if num == '' %}
             __________
             {% endif%}
             <br>
            
      
      {% endfor %}
        </bdi>
      </details>
   
                
               </td>
  </tr>
</table>
 


 
               {% endblock content%}
               


              </body>
              </html>